@model MobilyaProje.Models.Galeri
@{
    ViewBag.Title = "AdmGaleriResimGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h3>Gayrimenkul Hizmet Sayfasını Güncelle</h3>

@using (Html.BeginForm("AdmGaleriResimGuncelle", "KPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="div-boyut">      
        <div>
            <label><b>Resim</b></label>
            <input type="file" id="File" name="File" accept=".jpg,.JPG,.PNG,.png,.jpeg,.JPEG" class="form-control" />
        </div>
        <div>
            @Html.HiddenFor(x => x.id)
        </div>
        <b> Kategoriler *</b>
        @Html.DropDownListFor(x => x.Galeriid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
        <div>
            <button class="button border with-icon">Değişiklikleri Kaydet</button>
            <br />
            <br />
        </div>
    </div>


}

