@model MobilyaProje.Models.Hakkimizda
@{
    ViewBag.Title = "AdminHakGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin:15px">


    <h3>Hakkımda Yazı Sayfasını Güncelle</h3>

    @using (Html.BeginForm("AdminHakguncelle", "KPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
<form action="AdminHakguncelle" method="post">

    <div id="div-boyut">
        <label><b>Slogan</b></label>
        @Html.TextBoxFor(x => x.Slogan, new { @class = "form-control" })
    </div>
    <div>
        <label><b>Başlık </b></label>
        @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    </div>
    <div>
        <label><b>İçerik</b></label>
        @Html.TextAreaFor(x => x.icerik,0,3, new { @class = "form-control" })
    </div>
   

    <div>
        <label><b>Üst Resim</b></label>
        <input type="file" id="File" name="File" accept=".jpg,.JPG,.PNG,.png,.jpeg,.JPEG" class="form-control" />
    </div>


    <div>
        <label><b>Resim</b></label>
        <input type="file" id="File1" name="File1" accept=".jpg,.JPG,.PNG,.png,.jpeg,.JPEG" class="form-control" />
    </div>

    <div>
        @Html.HiddenFor(x => x.id)
    </div>
    <div>
        <button class="button border with-icon">Değişiklikleri Kaydet</button>
        <br />
        <br />
    </div>

</form>
    }
</div>
