@model MobilyaProje.Models.NeYapiyoruz
@{
    ViewBag.Title = "AdmNeYapiyoruzEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h3>Yeni Hizmet Ekle</h3>


<div class="col-md-12" id="div-boyut">
    @using (Html.BeginForm("AdmNeYapiyoruzEkle", "KPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <form method="post">
        @*<div>
            <label><b>Başlık</b></label>
            @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
        </div>*@
        <div>
            <label><b>Başlık</b></label>
            @Html.TextBoxFor(x => x.Baslik1, new { @class = "form-control" })
        </div>
        <div>
            <label><b>İçerik</b></label>
            @Html.TextAreaFor(x => x.icerik, 3, 0, new { @class = "form-control" })
        </div>
        <div>
            <label><b>Resim</b></label>
            <input type="file" id="File" name="File" accept=".jpg,.JPG,.PNG,.png,.jpeg,.JPEG" class="form-control" />
        </div>
        <div>
            <label><b>Resim Detay</b></label>
            <input type="file" id="File1" name="File1" accept=".jpg,.JPG,.PNG,.png,.jpeg,.JPEG" class="form-control" />
        </div>
        @*@Html.HiddenFor(x => x.id)*@

        <div>
            <button class="button border with-icon">Hizmeti Ekle</button>
        </div>
        <br />
    </form>
    }
</div>

